---
import PluginSettings from '@components/home/loadPluginSettings';
import SubmitStorageForm from '@components/home/SubmitStorageForm';
import DashboardLayout from '@layouts/DashboardLayout.astro';
import { getPluginStorage } from '@lib/database';
import { plugins } from '@lib/plugins';
import { getPublicUserData } from '@lib/user';

const { user } = Astro.locals;
const current_plugin_id = Astro.params.plugin_id!;
const current_plugin = plugins[current_plugin_id];
const public_user_data = getPublicUserData(user);
const plugins_storage = await getPluginStorage(user.uid);
---

<DashboardLayout hideSidebar>
	<div slot="content" class="w-full h-full flex flex-col gap-4 p-4">
		<h1 class="text-3xl font-bold">{current_plugin.name}</h1>
		<PluginSettings
			client:only="preact"
			plugin={current_plugin}
			public_user_data={public_user_data}
			plugins_storage={plugins_storage}
		/>
		{
			!current_plugin.custom_submitter && (
				<div class="flex flex-wrap justify-center w-full gap-4">
					<SubmitStorageForm client:only="preact" plugin={current_plugin} />
					<a href="/home/settings/" class="btn btn-wide btn-error">
						Cancel
					</a>
				</div>
			)
		}
	</div>
</DashboardLayout>
