---
import type { tBloques } from '@lib/time';

interface Props {
	block: tBloques;
	sched?: {
		class_name: string;
		sched_type: string;
		sched_place: string;
	}[];
}

const sched = Astro.props.sched as Props['sched'];
const block = Astro.props.block as Props['block'];
---

{
	!sched && (
		<div class="collapse bg-base-200">
			<div class="collapse-title text-xl font-medium">{block} - Vacio</div>
		</div>
	)
}
{
	sched && sched.length > 1 && (
		<li class="collapse bg-base-200">
			<input type="radio" name="my-accordion-1" />
			<h3 class="collapse-title text-xl font-medium">{block}</h3>
			<div class="collapse-content">
				<p>hello</p>
			</div>
		</li>
	)
}
{
	sched && sched.length === 1 && (
		<li class="collapse bg-base-200">
			<h3 class="collapse-title text-xl font-medium">
				{block} - {sched[0].class_name} - {sched[0].sched_type} -{' '}
				{sched[0].sched_place}
			</h3>
		</li>
	)
}
