---
import { type tBloques } from '@lib/time';

interface Props {
	activo: number;
	block: tBloques;
	sched?: {
		class_name: string;
		sched_type: string;
		sched_place: string;
	}[];
}
const sched = Astro.props.sched as Props['sched'];
const block = Astro.props.block as Props['block'];
const activo = Astro.props.activo as Props['activo'];
---

{
	!sched && (
		<li class="text-xl">
			{block !== '1-2' && <hr class={activo >= 0 ? 'bg-primary' : ''} />}
			<div class="timeline-middle w-14 flex justify-center">
				<span class={activo >= 0 ? 'text-primary' : ''}>{block}</span>
			</div>
			<div
				tabindex="0"
				class={`timeline-end collapse collapse-close bg-base-200 border ${activo == 0 ? 'border-primary' : 'border-gray-900'}`}
			>
				<h3 class="collapse-title text-xl font-medium text-gray-500">Vacio</h3>
			</div>
			{block !== '19-20' && <hr class={activo == 1 ? 'bg-primary' : ''} />}
		</li>
	)
}
{
	sched && sched.length > 1 && (
		<li class="text-xl">
			{block !== '1-2' && <hr class={activo >= 0 ? 'bg-primary' : ''} />}
			<div class="timeline-middle w-14 flex justify-center">
				<span class={activo >= 0 ? 'text-primary' : ''}>{block}</span>
			</div>
			<div
				tabindex="0"
				class={`timeline-end collapse bg-base-200 border ${activo == 0 ? 'border-primary' : 'border-gray-900'}`}
			>
				<h3 class="collapse-title text-xl font-medium text-error flex items-center gap-2">
					{sched[0].class_name}{' '}
					<div class="badge badge-error">+{sched.length - 1}</div>
				</h3>
				<div class="collapse-content">
					<h1 class="text-lg">{sched[0].class_name}</h1>
					<p>{sched[0].sched_type} - {sched[0].sched_place}</p>
					{sched.slice(1).map((s) => (
						<div class="divider">o</div>
						<h1 class="text-lg">{s.class_name}</h1>
						<p>
							{s.sched_type} - {s.sched_place}
						</p>
					))}
				</div>
			</div>
			{block !== '19-20' && <hr class={activo == 1 ? 'bg-primary' : ''} />}
		</li>
	)
}
{
	sched && sched.length === 1 && (
		<li class="text-xl">
			{block !== '1-2' && <hr class={activo >= 0 ? 'bg-primary' : ''} />}
			<div class="timeline-middle w-14 flex justify-center">
				<span class={activo >= 0 ? 'text-primary' : ''}>{block}</span>
			</div>
			<div
				tabindex="0"
				class={`timeline-end collapse bg-base-200 border ${activo == 0 ? 'border-primary' : 'border-gray-900'}`}
			>
				<h3 class="collapse-title text-xl font-medium">
					{sched[0].class_name}
				</h3>
				<div class="collapse-content">
					<p>
						{sched[0].sched_type} - {sched[0].sched_place}
					</p>
				</div>
			</div>
			{block !== '19-20' && <hr class={activo == 1 ? 'bg-primary' : ''} />}
		</li>
	)
}
