---
import type { tPlugin } from '@lib/plugins';
import AddPlugin from './addPlugin';

interface Props {
	id: string;
	plugin: tPlugin;
	user_sections: string[];
	plugins: Record<string, string[]>;
}

const { id, plugin, user_sections, plugins } = Astro.props;
---

<article
	class="border border-neutral-500 hover:border-primary transition-all p-4 rounded-lg min-w-[300px]"
>
	<header class="flex items-center justify-between mb-4">
		<div class="flex items-center gap-2">
			<img src={`/icons/${plugin.icon}`} alt={plugin.name} class="w-8 h-8" />
			<h3 class="text-2xl">{plugin.name}</h3>
		</div>
		<div class="flex gap-2 items-center ml-4">
			<AddPlugin
				client:only="preact"
				id={id}
				storage_group={plugin.storage_group}
				default_storage={plugin.default_storage}
				user_sections={user_sections}
				plugins={plugins}
			/>
			<a
				href={`/home/plugins/${plugin.id}/`}
				class="btn btn-square btn-accent btn-outline"
			>
				<span class="icon-[material-symbols--docs] text-xl"></span>
			</a>
		</div>
	</header>
	<p class="text-md max-w-[90%]">{plugin.description}</p>
	<small class="text-sm mt-2 flex justify-end">
		{
			plugin.extension_group && (
				<span class="text-xs py-2 badge badge-outline badge-accent">
					{plugin.extension_group}
				</span>
			)
		}
	</small>
</article>
