---
import LogoutBtn from '@components/LogoutBtn.astro';
import DashboardLayout from '@layouts/DashboardLayout.astro';
import { getClassesInfo } from '@lib/database';
import { getClassesMapFromInfo } from '@lib/format';
import { days } from '@lib/time';

const { user } = Astro.locals;
const classesInfo = await getClassesInfo(user.uid);
const classesMap = getClassesMapFromInfo(classesInfo);
const classesEntries = Object.entries(classesMap);
---

<DashboardLayout>
	<main
		slot="content"
		class="w-full flex flex-col gap-4 p-8 items-center justify-center"
	>
		{
			!classesEntries.length &&
				<h2 class="text-gray-500 text-lg mt-4">Esta muy vacio por aqui 😔</h2>
				<p class="text-gray-500">Intenta agregar una clase</p>
				<div class="flex gap-2">
					<a href="/home/dashboard/clases/agregar/" class="btn btn-primary">Agregar Clase</a>
					<a class="btn btn-disabled">Cargar en CFT</a>
				</div>
		}
		{
			!!classesEntries.length && classesEntries.map((clas, i) => {
				const [name, data] = clas;
				const days_entries = Object.entries(data.days);
				return (
						<article class="w-full max-w-2xl flex flex-col">
							{!!i && <div class="divider mb-20" />}
							<div class="flex items-center justify-between">
								<h1 class="text-2xl mb-2 flex items-center gap-2">
									{name}
									{!data && (
										<span class="badge badge-error">Sin datos</span>
									)}
								</h1>
								<a
									href={`/home/dashboard/clases/${name}/`}
									class="btn btn-outline btn-sm btn-primary"
								>
									<span class="icon-[ri--info-card-fill] text-2xl" />
								</a>
							</div>
							<div class="flex items-center justify-between mt-4">
								<h2 class="text-lg">Horario</h2>
								<ul>
									{
										data.sistems_used.map((s) => (
											<li class="badge badge-primary">{s}</li>
										))
									}
								</ul>
							</div>
							<div class="overflow-x-auto">
								{!!data && !!data.days && (
									<table class="table">
										<thead>
											<tr>
												<th class="w-1/2 text-left">Dia</th>
												<th class="w-1/2 text-right">Bloques</th>
											</tr>
										</thead>
										<tbody>
											{days_entries.map((s) => {
												const [day, day_data] = s;
												return (
												(
												<tr class="list-disc">
													<td class="w-1/2 text-left">{days[Number(day)]}</td>
													<td class="w-1/2 text-right">
														{day_data.sistem_keys
															.map((b) => (
																<span class="badge">{b}</span>
															))}
													</td>
												</tr>
											)
												);
											})}
										</tbody>
									</table>
								)}
								<h2 class="text-lg">Evaluaciones</h2>
								<p class="text-center text-gray-500 p-4">No hay evaluaciones</p>
							</div>
						</article>
				);
			})
		}
	</main>
	<div slot="sidebar" class="h-full flex flex-col justify-between">
		<nav class="flex min-w-[240px] flex-col gap-1 p-2 text-base">
			{
				classesEntries.map((cls) => (
					<a
						href={`/home/dashboard/clases/${cls[0]}/`}
						role="button"
						class="flex items-center w-full px-4 py-2 transition-all rounded-lg outline-none text-start text-lg bg-[#0a0c0e2c] hover:bg-neutral"
					>
						{cls[0]}
					</a>
				))
			}
				<a
					href="/home/dashboard/clases/agregar/"
					class="flex items-center gap-2 w-full px-4 py-2 transition-all rounded-lg outline-none text-start text-lg bg-[#0a0c0e2c] text-primary hover:bg-neutral"
				>
					<span class="icon-[material-symbols--add]" />
					<p>Agregar clase</p>
				</a>
		</nav>
		<LogoutBtn />
	</div>
</DashboardLayout>
